@charset "UTF-8";
#signUp_form{
	margin: 0 auto;
	width: 550px;
}

.title_box{
	margin: 50px 0 30px;
	text-align: center;
	font-size: 32px;
}

.form_box{
	margin: 0 auto 30px;
	width: 90%;
	
}

.menuName{
	display:inline-block;
	width:100%;
	margin-top:35px;
	margin-bottom: 10px;
	font-size:1.1em;
	color: #2F4858;
	font-weight: 600;
}
.inputStyle{
	background-color:inherit;
	border:none;
	border-bottom:1px solid #2F4858;
	box-sizing:border-box;
	height:30px;
	width:70%;
}

.form_box input[type='password']{
	font-family: serif;
}
.form_box input[type='password']::placeholder{
	font-family: 'jua';
}
.checkBtn{
	float: right;
	width: 120px;
	height:30px;
	border: none;
}

.btn_box{
	width: 90%;
	margin: 15px auto 50px;
}
#signUpBtn{
	width: 100%;
	background: #FF7900;
	border: #FF7900;
	height: 46px;
	line-height: 44px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	margin-top: 30px;
}

.msgError{
	width: 100%;
	color: red;
	font-size: 12px;
	display: none;
}

.more{
	float: right;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 3px;
	font-size: 12px;
	background-color: #EFEFEF;
	cursor: pointer;
}
.moreText{
	float: left;
	display: none;
	height: 300px;
	overflow: auto;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}
h3{
	margin-top: 15px;
}

.smsCheck{
	display: none;
}
#tel{
	width: 45%;
}
.btn2{
	float: right;
	margin-left: 5px;
}