@charset "UTF-8";

a{ 
	text-decoration:none !important;
}
a:hover{ 
	text-decoration:none !important;
}
.container{
	height: auto;
	min-height: 100vh;
	overflow:hidden;
}
.tab_title{
	float: left;
	width: 19%; 
}
.tab_content{
 	float: right;
	width: 79%;
}

.tab_title>li{
	width: 200px;
	min-width: 200px !important;
	padding: 10px;
	background: rgba(255, 121, 0, 0.6);
}
.tab_title>li>a{
	color: rgba(255, 255, 255);  
	font-size: 16px;
	font-weight: 600;
}

.tab_title>li:hover{ 
	background: rgba(255, 146, 0, 1);
	color: black !important;
}
.tab_title>li:hover a{
	color: black !important;
	font-size: 18px;
}

#noticeList{
	overflow: auto;
	list-style-type: none;
	padding-left: 0px;
}
#noticeList>li{
	float: left;
	width: 20%;
	height: 40px;
	line-height: 40px;
	list-style-type: none;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#noticeList>li:nth-child(5n+1){
	padding-left: 15px;
	width: 10%;
}
#noticeList>li:nth-child(5n+2){
	width: 45%;
}
#noticeList>li:nth-child(5n+3){
	width: 10%;
}
#noticeList>li:nth-child(5n){
	width: 15%;
}
#noticeList>li:nth-child(n+1):nth-child(-n+5) {
	border-bottom: 3px solid #ddd;
	background-color: rgba(205, 188, 171, 0.5);
	font-weight: bold;
}
.editBtn{
	background: #FF7900;
	border: #FF7900;
	font-size: 16px;
	font-weight: 700;
	color: #fff !important;
	padding:2px 15px;
}
.delBtn{
	background: gray;
	border: #FF7900;
	font-size: 16px;
	font-weight: 700;
	color: #fff !important;
	padding:2px 15px;
}

.writeBtn{
	width: 80px;
	background-color: #ff6d00;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
	margin:15px 0px;
	float: left;
}
.writeBtn>a{
	color: #fff;
	font-weight: 700;
}
.writeBtn:hover a{
	color: #fff;
}
#searchDiv{
	padding: 5px;
	margin:15px 0px;
	float: right;
	height: 34px;
}
.searchKey{
	height: 34px;
	padding: 5px;
}
.searchWord{
	height: 34px;
	padding: 5px;
}
.searchBtn{
	width: 80px;
	height: 34px;
	background-color: #ff6d00;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
	border: none;
	color: #fff;
	font-weight: 700;
}

.now>a{
	color: red;
	font-weight: 700;
}
.paging{
	text-align: center;
	display: table;
	margin: 0 auto;
	overflow: auto;
}
.paging li{
	float: left;
	padding: 15px;
}

.tab_title2{
	margin-bottom: 50px;
	display: none;
}
.tab_title2>li{
	float: left;
	margin: 0 auto;
	width: 12%;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}
.tab_title2>li:hover a{
	color: #ff6d00;
}

@media (max-width: 1300px) {
	.tab_title{
		display: none;
	}
	.tab_title2{
		display: block !important;
	}
	.tab_content{
		width: 100%;
	}
}