@charset "UTF-8";

a{ 
	text-decoration:none !important;
}
a:hover{ 
	text-decoration:none !important;
}
.container{
	height: auto;
	min-height: 100vh;
	overflow:hidden;
}
.tab_title{
	float: left;
	width: 19%; 
}
.tab_content{
 	float: right;
	width: 79%;
}

.tab_title>li{
	width: 200px;
	min-width: 200px !important;
	padding: 10px;
	background: rgba(255, 121, 0, 0.6);
}
.tab_title>li>a{
	color: rgba(255, 255, 255);  
	font-size: 16px;
	font-weight: 600;
}

.tab_title>li:hover{ 
	background: rgba(255, 146, 0, 1);
	color: black !important;
}
.tab_title>li:hover a{
	color: black !important;
	font-size: 18px;
}

.InfoCard{
	float:left; 
	padding:15px; 
	border:1px solid black;
	border-radius: 5px; 
	margin:15px;
}

.totalNum{
	float: right;
	background: #FF8500;
	border: 5px solid #FF6D00;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	position: relative;
}
.totalNum>p{
	position: absolute;
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.subNum{
	margin-top: 30px;
	font-size: 18px;
}

.gridContainer{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.item.item:nth-child(3) {
	/* 1번 라인에서 2칸 */
	grid-column: 2 / span 1;
	/* 1번 라인에서 3칸 */
	grid-row: 1 / span 2;
}
.item.item:nth-child(6) {
	/* 1번 라인에서 2칸 */
	grid-column: 3 / span 1;
	/* 1번 라인에서 3칸 */
	grid-row: 1 / span 2;
}

.tab_title2{
	margin-bottom: 50px;
	display: none;
}
.tab_title2>li{
	float: left;
	margin: 0 auto;
	width: 12%;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}
.tab_title2>li:hover a{
	color: #ff6d00;
}

@media (max-width: 1300px) {
	.tab_title{
		display: none;
	}
	.tab_title2{
		display: block !important;
	}
	.tab_content{
		width: 100%;
	}
}