@charset "UTF-8";
#shareTitle{
	width:100%;
}
#shareFrm div{
	padding:10px 5px;
}
.shareBtn{
	display:flex;
	justify-content:center;
	margin:auto;
}
#shareWrite, #shareCancle, #shareBack{
	margin:auto 10px;
	width:15%;
}
