@charset "EUC-KR";

*{
	margin:0;
	padding:0;
	text-decoration: none;
	box-sizing: border-box;
    list-style-type:none;
}
/* Top */
#Top_menu{
	width:100%;
	height:123px;
	border:2px solid rgba(189,189,189,0.5);
	position: relative;
	padding-top:40px;
	margin-bottom:40px;
}
#Top_Logo{
	float:left;
	position: absolute;
	left:50px;
	top:20px;
}

#Top_menu_select{
	float:left;
	text-align:center;
	position:relative;
	width:100%;

}

#se{
	word-spacing: 62px;
	height:80px;
}
.Top_menu_VA{
	font-size: 23pt;
	cursor: pointer;
}
.Top_menu_select_A>ul>li>a:hover,.Top_menu_select_A>ul>li>a:link,.Top_menu_select_A>ul>li>a:visited{
	color:black;
}

.Top_menu_select_A{
	float:left;
	margin-left:72px;
	position: relative;
	left:79.5vh;
}

.Top_menu_select_A>ul>li{
	text-align: center;

}

#Top_menu_select_S{
	position:absolute;
	width:100%;
	background-color: rgba(255, 133, 0 , 0.7);
	height:150px;
	display:none;
}

#Top_LGN_section{
	float:left;
	padding:10px;
	
	position: absolute;
	right:90px;
}

#Top_LGN_section>div{
	float:left;
	margin-left:15px;
}

/* Top 끝*/
/* Bottom*/
.bottom{
	width:100%;
	height:150px;
	border:2px solid rgba(189,189,189,0.5);
	background-color: rgba(132,144,22,0.5);
	position: relative;
}
/* Bottom 끝*/