@charset "UTF-8";


/*List*/
.Menu_titleI{
	margin:40px 10px;
}

.Menu_Bar_AI{
	display:flex;
	height:120px;
	width:1000px;
	border: 2px solid green;
	line-height: 120px;
}

.Menu_titleI{
	width:300px;
}

.Menu_img{
	width:500px;
}

.Menu_containerI{
	width:1000px;
	height:800px;
	border:2px solid red;/* 임시 경계선 */
}

/*게시글목록*/
.List_menu_FI{
	padding-left:0px;
}
.List_menu_FI>li{
	width:10%;
	height:40px;
	line-height:40px;
	float:left;
	text-align: center;
	border:1px dotted blue; /*임시경계선*/
	border-bottom:1px solid black;
	background-color: white;
}

.List_menu_FI>li:nth-child(5n+2){ /*제목*/
	width:50%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.List_menu_FI>li:nth-child(5n+3){
	width:10%;
}
.List_menu_FI>li:nth-child(5n+4){
	width:20%;
}
.List_menu_FI>li:nth-child(5n+5){
	width:10%;
	
}
/*게시글목록 끝*/

/*페이징*/
.paging{
	width:100%; 
	text-align: center; 
	font-size: 30px;
	margin-top:10px;
	margin-bottom:-10px;
}

.info_btn{
	float:right;
	margin:10px;
}
.info_btn a{
	text-decoration:none;
	color:black;
	font-size:1.2em;
}
.info_btn a:hover{
	color:#FF7900;
}
.searchWord{
	float:right;
}

.info_search{
	float:right;
	margin-bottom:20px;
	margin-top:-15px;
}
.info_paging>ul>li{
	float:left;
	margin-left:10px;
	margin-right:10px;
}