@charset "UTF-8";


/*List*/
.Menu_title{
	margin:40px 10px;
}

.Menu_Bar_A{
	display:flex;
	height:120px;
	width:1000px;
	border: 2px solid green;
	line-height: 120px;
}

.Menu_title{
	width:300px;
}

.Menu_img{
	width:500px;
}

.Menu_container{
	width:1000px;
	height:800px;
	border:2px solid red;/* 임시 경계선 */
}

/*게시글목록*/
.List_menu_F{
	padding-left:0px;
}
.List_menu_F>li{
	width:10%;
	height:40px;
	line-height:40px;
	float:left;
	text-align: center;
	border-bottom:1px solid #ddd;
	background-color: white;
}

.List_menu_F>li:nth-child(4n+2){ /*제목*/
	text-align: left;
	width:60%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 30px;
}
.List_menu_F>li:nth-child(4n+3){
	width:20%;
}
.List_menu_F>li:nth-child(4n+4){
	width:10%;
	
}
.List_menu_F>li:nth-child(n+1):nth-child(-n+4) {
	height:50px;
	line-height: 50px; 
	border-bottom: 3px solid #ddd;
	font-weight: bold;
	text-align: center;
	padding: 0;	
}
/*게시글목록 끝*/

/*페이징*/
.paging{
	width:100%; 
	text-align: center; 
	font-size: 30px;
	margin-top:10px;
	margin-bottom:-10px;
}

.Share_btn{
	float:right;
	margin:10px;
}
.Share_btn a{
	text-decoration:none;
	color:black;
	font-size:1.2em;
}
.Share_btn a:hover{
	color:#FF7900;
}
.searchWord{
	float:right;
}

.Share_search{
	float:right;
	margin-bottom:20px;
	margin-top:-15px;
}
.Share_paging>ul>li{
	float:left;
	margin-left:10px;
	margin-right:10px;
}