@charset "UTF-8";


/*List*/


.Menu_Bar_A{
	display:flex;
	height:120px;
	width: 100%;
	line-height: 120px;
	position: relative;
	background: #fff;
}

.Menu_Bar_A::before{
	content: "";
	background-image: url(/img/board/noticeBar.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	opacity: 0.7;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.Menu_Bar_A>h1{
	margin:40px 10px;
	font-size: 48px;
	color: #fff;
	font-weight: 800;
	position: relative;
}

.Menu_img{
	width:500px;
}

.Menu_container{
	height: auto;
	min-height: 100vh;
	overflow:hidden;
	padding-top:20px;
}

/*게시글목록*/
.List_menu_F{
	padding-left:0px;
}
.List_menu_F>li{
	width:10%;
	height:40px;
	line-height:40px;
	float:left;
	text-align: center;
	border-bottom:1px solid #ddd;
}

.List_menu_F>li:nth-child(4n+2){ /*제목*/
	text-align: left;
	width:60%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 30px;
}
.List_menu_F>li:nth-child(4n+3){
	width:20%;
}
.List_menu_F>li:nth-child(4n+4){
	width:10%;
	
}
.List_menu_F>li:nth-child(n+1):nth-child(-n+4) {
	height:50px;
	line-height: 50px; 
	border-bottom: 3px solid #ddd;
	font-weight: bold;
	text-align: center;
	padding: 0;	
}
/*게시글목록 끝*/

/*페이징*/
.paging{
	width:100%; 
	text-align: center; 
	font-size: 30px;
	margin-top:50px;
	margin-bottom:-10px;
}

.Share_btn{
	float:right;
	margin:10px;
}
.Share_btn a{
	text-decoration:none;
	color:black;
	font-size:1.2em;
}
.Share_btn a:hover{
	color:#FF7900;
}
.searchWord{
	float:right;
}

.Share_search{
	float:right;
	margin-bottom:20px;
	margin-top:-15px;
}
.Share_paging>ul>li{
	float:left;
	margin-left:10px;
	margin-right:10px;
}