<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.campus.myapp.dao.AnimalInfoDAO">

	<select id="animalListDog" resultType="com.campus.myapp.vo.AnimalInfoVO">
		select category,breed,content,filename1,distinction,disease from animalinfo where category='강아지' 
		<if	test='searchword != null'>
			and breed like '%${searchword}%'
		</if>
		 order by breed desc
	</select>
	
</mapper>