<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.campus.myapp.dao.BoardDAO">
  	<!-- 글등록 -->
  	<insert id="BoardInsert">
  	INSERT INTO board(userid, title, content, boardtype, filename1)
  	VALUES(#{userid}, #{title}, #{content}, #{boardtype}, #{filename1})
  	</insert>
  	<!-- 건의게시판 글등록 -->
  	<insert id="BoardInsertSuggest">
  	INSERT INTO suggest(boardno, secret)
  	VALUES (#{boardno}, #{secret})
  	</insert>
  	<!-- 입양게시판 글등록 -->
  	<insert id="BoardInsertAdopt">
  	INSERT INTO adopt(category, breed)
  	VALUES(#{category},#{breed})
  	</insert>
  	<!--  글목록 불러오기 -->
  	<select id="BoardSelectList" resultType="com.campus.myapp.vo.BoardVO">
  	SELECT A.boardno, A.title, A.userid, A.content, A.hit, 
  		   date_format(A.writedate, '%Y-%m-%d') writedate,
  		   date_format(A.writedate, '%H:%i') writetime,
  		   A.filename1, B.profileimage, B.userlevel, B.username
  		   <choose>
	  	<when test="param1.equals('suggest')">
	            	,C.secret, C.suggestno
       	</when>
       	<when test="param1.equals('adopt')">
       	,D.category, D.breed, D.adoptno
       </when>
    </choose>
  	FROM   board A, member B
  	<choose>
	  	<when test="param1.equals('suggest')">
	            	,suggest C
       	</when>
       	<when test="param1.equals('adopt')">
       				,adopt D
       </when>
    </choose>
  	WHERE  A.userid=B.userid
  	<choose>
	  	<when test="param1.equals('suggest')">
	            	AND   A.boardno=C.boardno
       </when>
       <when test="param1.equals('adopt')">
	            	AND   A.boardno=D.boardno
       </when>
    </choose>
	AND    A.boardtype=#{param1}
	ORDER by boardno desc 
	LIMIT 	 #{param2.start}, #{param2.end}
  	</select>
  	<select id="totalRecord" resultType="int">
    SELECT count(boardno) as cnt from board
    WHERE boardtype=#{param1}
    </select>
  	<!--  글 1개 선택 -->
  	<select id="BoardSelect" resultType="com.campus.myapp.vo.BoardVO">
  	SELECT b.boardno, b.title, b.userid, b.content, b.hit, b.writedate, m.username, m.profileimage, m.userlevel,
  	(select count(reply.replyno) from reply where A.boardno=reply.boardno) as reviewcnt
  	FROM board b join member m on b.userid=m.userid
  	WHERE boardno = #{param1}
  	</select>
  	<select id="boardSearch" resultType="BoardVO">
      SELECT   A.boardno, A.title, A.userid, A.writedate, A.hit, B.profileimage, B.username
      FROM     board A, member B
      WHERE    A.userid=B.userid 
      AND      A.boardtype=#{param5}
      <choose>
         <when test="param1.equals('title')">
            AND A.title like #{param2}
         </when>
         <when test="param1.equals('content')">
            AND A.content like #{param2}
         </when>
         <when test="param1.equals('username')">
            AND B.username like #{param2}
         </when>
      </choose>
      ORDER BY A.boardno DESC
      LIMIT #{param3}, #{param4}
     </select>
  	<select id="BoardNum" resultType="int"><!--  게시물 넘버 입력용  -->
  	SELECT boardno FROM board ORDER BY boardno DESC LIMIT 1;
  	</select>
  	<select id="SuggestNum" resultType="int"><!--  건의 게시물 넘버 입력용  -->
  	SELECT suggestno FROM suggest ORDER BY suggestno DESC LIMIT 1;
  	</select>
  	
  	<!--  조회수 증가 -->
  	<update id="hitCount">
    UPDATE board SET hit = hit+1 WHERE boardno=#{param1}
    </update>
  	<select id="BoardView" resultType="com.campus.myapp.vo.BoardVO">
	    SELECT A.boardno, A.title, A.hit, A.writedate, A.content, A.userid, A.filename1,
	   		   B.profileimage, B.userlevel, B.username
	    FROM   board A, member B
	    WHERE  A.userid=B.userid 
	    AND    A.boardno=${param1}
    </select>
    <!-- 글 수정 -->
    <update id="BoardUpdate">
  		UPDATE  board SET title=#{title}, content=#{content}, filename1=#{filename1}
		WHERE boardno=#{boardno}
  	</update>
  	<select id="getFileName" resultType="com.campus.myapp.vo.BoardVO">
    	SELECT filename1 FROM board 
    	WHERE boardno=#{boardno}
    </select>
    <update id="BoardFileUpdate">
  		UPDATE board SET filename1=#{filename1}
		WHERE boardno=#{boardno}
  	</update>
  	<delete id="boardDelete">
 		DELETE FROM board WHERE boardno=#{param1} AND userid=#{param2}
 	</delete>
 	<select id="getType" resultType="String">
 		select boardtype from board where boardno=${param1}
 	</select>
 	
 	<select id="myWriteCnt" resultType="int">
		select count(boardno) cnt from board
		where userid=#{userid}
	</select>
	<select id="myReviewCnt" resultType="int">
		select count(replyno) cnt from reply
		where userid=#{userid}
	</select>
	
	
</mapper>
